<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
    <style>
        .container {
            text-align: center;
        }

        #password-reset-message {
            color: #007bff; 
            font-size: 18px;
            margin-top: 50px;
           
        }
    </style>
</head>
<body>
    <div class="container">
        <p id="password-reset-message">Password reset email has been sent. Please check your email.</p>
    </div>
    <script>

        // Automatically redirect users to another page after 5 seconds
        setTimeout(function() {
            window.location.href = "/";
        }, 5000); // Redirect after 5 seconds (5000 milliseconds)
    </script>
</body>
</html>

